.wrapper {
	padding: 0px !important;
}

/*--------------- HEADER ---------------*/

.main-header .navbar-brand {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-header .container {
	width: 100%;
}

.main-header .logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*--------------- CONTENT ---------------*/

.dropdown-toggle {
	display: flex !important;
	align-items: center;
}

.switcher {
	border: none;
	border-radius: 10px;
	padding: 1px;
}

.switcher .content {
	padding: 0px;
	min-height: 26px;
}

.switcher .textNo {
	color: #fff;
}

.actions li i {
	margin-right: 8px;
}

.actions .fa-menu-hamburger {
	cursor: pointer;
	font-size: 15px;
	color: #777;
}

.actions .fa-menu-hamburger:hover {
	color: #337ab7;
}

.fa-menu-hamburger:before {
	content: "\f0c9";
}

.btn a,
.sidebar a {
	color: #b8c7ce;
}

.datepicker > div {
	display: block;
}

.navbar-brand {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

.avatar {
	width: 48px;
	height: 48px;
}

.avatar {
	border-radius: 50%;
	overflow: hidden;
}

.avatar img,
.icon img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.avatar-menu,
.navbar-brand img {
	width: 32px;
	height: auto;
	max-height: 32px;
}

.avatar-menu > a > img {
	width: auto;
	height: 28px;
}

.avatar.small,
.icon {
	width: auto;
	height: 32px;
}

.avatar.medium,
.icon.small {
	width: auto;
	height: 48px;
}

.avatar.large,
.icon.medium {
	width: auto;
	height: 64px;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
	background-color: transparent !important;
	color: #fff !important;
}

body.fixed footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

/**
 * Bootstrap switch fix for height
 */

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
	height: auto !important;
}

/**
 * Font helper
 */

.default-font {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
}

.small-font {
	font-size: 0.9rem;
}

.medium-font {
	font-size: 1.5rem;
}

.large-font {
	font-size: 2rem;
}

.main-header .sidebar-toggle {
	padding: 0px;
	flex: 1 1 auto;
}

.navbar.navbar-static-top {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.main-header .navbar-custom-menu {
	align-self: flex-end;
	flex: 0 0 auto;
}

.sidebar-menu > li {
	padding: 6px !important;
}
