#cms-navbar {
    background: #1d212a none repeat scroll 0 0;
    border-color: #080808;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1030;
    height: 50px;
    display: block;
    font-size: 14px;
    color: #b3b8c3;
    font-family: "Source Sans Pro", "Open Sans", sans-serif !important;
    box-sizing: border-box;
}

#cms-navbar::before, #cms-navbar::after {
    content: " ";
    display: table;
    box-sizing: border-box;
}

#cms-navbar::after {
    clear: both;
}

#cms-navbar.bottom {
    bottom: 0;
}

#cms-navbar.top {
    top: 0;
    margin-bottom: 20px;
}

#cms-navbar .cms-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    line-height: 50px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    #cms-navbar .cms-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #cms-navbar .cms-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #cms-navbar .cms-container {
        width: 1170px;
    }
}

#cms-navbar a {
    color: #9d9d9d;
    text-decoration: none;
}

#cms-navbar a:hover, #cms-navbar a:active {
    color: #fff;
}

#cms-navbar .live-edit-label {
    margin: 0 10px 0 20px;
    cursor: pointer;
    font-weight: normal;
}

#cms-navbar .live-edit-label:hover {
    color: #fff;
}

#cms-navbar .pull-left {
    float: left;
}

#cms-navbar .pull-right {
    float: right;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/fas-halflings-regular.eot');
    src: url('../fonts/fas-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/fas-halflings-regular.woff2') format('woff2'), url('../fonts/fas-halflings-regular.woff') format('woff'), url('../fonts/fas-halflings-regular.ttf') format('truetype'), url('../fonts/fas-halflings-regular.svg#fas_halflingsregular') format('svg');
}

#cms-navbar .fa {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-left:before {
    content: "\e091";
}

.fa-pencil:before {
    content: "\270f";
}

.fa-log-out:before {
    content: "\e163";
}

#cms-navbar .switcher {
    margin-top: 15px;
    border: none;
    background: #b3b8c3;
    color: #FFF;
    height: 20px;
    min-width: 40px;
    font-size: 11px;
    border-radius: 10px;
    padding: 1px;
    box-sizing: border-box;
}

#cms-navbar .switcher .slider {
    background: #f0f3f3;
    height: 18px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px #999;
}

#cms-navbar .switcher.is-active {
    background: #27b6af;
}

#cms-navbar .switcher .textNo {
    color: #fff;
}


/*#cms-navbar li.live-edit a:hover{
    background: #27b6af;
}*/

span.cms-edit {
    display: inline-block;
}

.-edit {
    position: relative;
}

.-goedit {
    position: absolute;
    top: 0;
    left: 0;
}

.-goedit:hover {
    border: 1px solid #337ab7;
    box-shadow: 0 0 10px #337ab7;
    background-color: rgba(51, 122, 183, 0.2);
}

.-goedit {
    position: absolute;
    top: 0;
    left: 0;
}

.-goedit:hover {
    border: 1px solid #337ab7;
    box-shadow: 0 0 10px #337ab7;
    background-color: rgba(51, 122, 183, 0.2);
}
